<div class="radio">
  <label><input type="radio" name="optradio">Reward 1</label>
</div>
<div class="radio">
  <label><input type="radio" name="optradio">Reward 2</label>
</div>
<div class="radio">
  <label><input type="radio" name="optradio">Reward 3</label>
</div>
<div class="radio">
  <label><input type="radio" name="optradio">Reward 4</label>
</div>
<br><br>
<%= f.submit "Confirm", class: "btn btn-sm btn-warning" %>
