<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>aaaa      </h1>
    </section>
  </aside>
  <div class="col-md-5">
  </div>
  <hr>

</div>

<a><img src="/images/map.png"/></a> 
    あなたのMAP
    <%= gravatar_for @map %>
    
    あなたが持っているスタンプ
    <%= gravatar_for @stamp_all %>
    
    <br>
    <% @stamp_all.each do |stamps| %>
      <br>
      <%= gravatar_for stamps %>
      <br>
    <% end %>