<div class="row">
  <aside class="col-md-4">
    <h3>My Page</h3>      
    <section class="user_info">
    <h5>
    <%= @user.name %>
    </h5>
    <hr>
    </section>
  </aside>
  <div class="row">
  <div class="col-md-8"><a><img src="/images/map.png"/></a> </div>

  <div class="col-md-4">
  <%= form_for(@user, :url => {:action => 'update'}) do |f| %>
  <%= render 'shared/error_messages', object: f.object %> <!-- エラー表示 -->
    <label for="stampcode" class="control-label col-md-1">CODE:</label>
    <input type="text" name="code"></input>
    <%= f.submit "Confirm", class: "btn btn-sm btn-warning" %>
  <% end %>
  </div>
</div>
  
  

</div>