<div class="row">
  <aside class="col-md-4">
    <h3>My Page</h3>      
    <section class="user_info">
    <h5>
    <%= @user.name %>
    </h5>
    </section>
  </aside>
  <div class="col-md-7">
  </div>
  <hr>

</div>

<a><img src="/images/map.png"/></a> 