<div class="cover">
  <div class="cover-inner">
    <div class="cover-contents">
      <h1>フフルルポイントマイページ</h1>
      <%= link_to 'popy' , login_path, class: "btn btn-success btn-lg" %>
    </div>
  </div>
</div>

