<!--design of header-->


<!DOCTYPE HTML>
<html lang="ja">
<head  class="navbar navbar-fixed-top navbar-light" style="background-color: #CCCC99;">
<meta charset="utf-8">
<title>fü POPPY</title>
<meta name="keywords" content="poppy">
<meta name="description" content="POPPYのマイページです。">
  <div class="container">
    <%= link_to "fü POPPY", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "My Page", root_path %></li>
        <% if logged_in? %>
          <li><%= link_to "Log out", logout_path, method: "delete" %></li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
  </head>